.venv/
.git/
.test_venv/
__pycache__/
.mypy_cache/
dist/
local/

!local/hifi_gan/universal_large/config.json
!local/hifi_gan/universal_large/generator.onnx
!local/hifi_gan/vctk_medium/config.json
!local/hifi_gan/vctk_medium/generator.onnx
!local/hifi_gan/vctk_small/config.json
!local/hifi_gan/vctk_small/generator.onnx

!local/en-us/mary_ann-glow_tts/config.json
!local/en-us/mary_ann-glow_tts/generator.onnx
!local/en-us/mary_ann-glow_tts/phonemes.txt
